nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 80px;
  padding: 16px;

  background-color: teal;
}

.nav-items {
	width: 50%;
	height: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

nav a {
	color: white;
	text-decoration: none;
}

