.blog-card {
	box-shadow: black 5px 5px 5px;
	border: 1px solid teal;
	border-radius: 5px;
	margin: 16px;
	padding: 8px;
	width: 50vw;
}

.meta {
	display: flex;
	justify-content: space-between;
}

.blog-card .content {
	margin: 16px 0px;
}